################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/MyBlog
/src/.vs/MyBlog
/src/MyBlog/bin/Debug/net8.0
/src/MyBlog/obj
/src/MyBlog.DataAccessor.EFCore/bin/Debug/net8.0
/src/MyBlog.DataAccessor.EFCore/obj
/src/MyBlog.Models/bin/Debug/net8.0
/src/MyBlog.Models/obj
/src/MyBlog.Services/bin/Debug/net8.0
/src/MyBlog.Services/obj
/src/MyBlog.Utilites/bin/Debug/net8.0
/src/MyBlog.Utilites/obj
