.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    .container .form-group {
        display: flex;
        flex-direction: column;
        gap:5px;
        width:100%;
        height:1200px;
    }
        .container .form-group .item.fill{
            flex:1;
        }
        .container .form-group .item {
            margin-bottom: 1.5rem;
            width:100%;
        }

