.login {
    background-image: url("images/login_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display:flex;
    align-items:center;
    justify-content:center;
}
    .login .container {
        width: 60%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .login .container .component {
            background-image: url("images/Component.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width:40rem;
            display: block;
        }

    .login .container .login-form {
        border-radius: 10px;
        background-color: rgba(255,255,255,0.4);
        display: flex;
        flex-direction: column;
        width: 24rem;
        height: 30rem;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-content: center;
        padding: 40px 30px;
    }

    .login .container .shortLine {
        width: 60px;
        height: 10px;
        background-color: #4285f4;
        border-radius: 2px;
        margin: 0 auto;
    }
