@page "/"
@using System.Diagnostics.CodeAnalysis
@using System.ComponentModel.DataAnnotations
@layout EmptyLayout
<PageTitle>请登录</PageTitle>
<div class="login">
    <div class="login-form">
        <div class="text-center mb-4">
            <h3 style="font-family: Arial; font-weight: bold;">欢迎登录</h3>
            <div class="shortLine my-2"></div>
        </div>
        <ValidateForm Model="Model" ShowLabel="false" OnValidSubmit="LoginClick">
            <div class="mb-4">
                <BootstrapInput @bind-Value="Model.Account"
                                PlaceHolder="请输入账号"
                                TValue="string"
                                IsAutoFocus="true"
                                IsSelectAllTextOnFocus="true"
                                IsTrim="true"
                                IsClearable="true" />
            </div>

            <div class="mb-4">
                <BootstrapInput @bind-Value="Model.Password"
                                TValue="string"
                                PlaceHolder="请输入密码"
                                type="password"
                                IsTrim="true"
                                IsClearable="true" />
            </div>

            <div class="mb-4">
                <Button ButtonType="ButtonType.Submit" Color="Color.Primary" Class="w-100" Size="Size.Large">
                    登录
                </Button>
            </div>
        </ValidateForm>
        <p class="text-center text-muted" style="font-size: 0.9rem;">
            登录即视为同意 <a href="#" class="text-primary">《服务协议》</a>
        </p>
    </div>
</div>
