.login {
    background-image: url("images/login_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position:relative;
}

    .login .login-form {
        border-radius: 10px;
        background-color: rgba(255,255,255,0.4);
        display: flex;
        flex-direction: column;
        width: 24rem;
        height: 30rem;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-content: center;
        padding: 40px 30px;
        position:absolute;
        top: 16%;
        left: 58%;
    }

    .login .shortLine {
        width: 60px;
        height: 10px;
        background-color: #4285f4;
        border-radius: 2px;
        margin: 0 auto;
    }
