@using MyBlog.Web.Client.Shared
@inherits LayoutComponentBase

<div class="front-layout">
    <Navbar></Navbar>
    <div class="fronter">
        <div class="fronter-body">
            @Body
        </div>
        <Divider/>
        <div class="footer-content">
            <div>当前时间: @CurrentTime.ToString("yyyy-MM-dd HH:mm:ss")</div>
            <div>© 2025 Xin. All rights reserved.</div>
        </div>
    </div>
</div>

