.front-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e6e6e6;
    overflow: hidden;
    scrollbar-width: none;
}

    .front-layout::-webkit-scrollbar {
        display: none;
    }

.fronter {
    width: 65%;
    margin: 0 auto;
    margin-top: 1.5rem;
    border-radius: 5px;
    padding: 10px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(100,100,100,.3);
    z-index: 1000;
}

.fronter-body {
    flex: 1;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
