.front-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f7fa;
    overflow: hidden;
    scrollbar-width: none;
}

    .front-layout::-webkit-scrollbar {
        display: none;
    }

.main-container {
    display: flex;
    width: 90%;
    max-width: 1400px;
    margin: 1.5rem auto 0;
    gap: 25px;
}

.sidebar {
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fronter {
    flex: 1;
    min-height:95vh;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.fronter-body {
    flex: 1;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: #6c757d;
}

/* 响应式设计 */
@media (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .sidebar > * {
            flex: 1;
            min-width: 300px;
        }
}

@media (max-width: 768px) {
    .sidebar {
        flex-direction: column;
    }

    .fronter {
        padding: 20px;
    }
}
