@using MyBlog.Web.Client.Api.Apis
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <div class="top-row px-4">
            <Logout ImageUrl="images/Avater.png" DisplayName="Administrators" UserName="Admin">
                <LinkTemplate>
                    <a href="#" @onclick="Logout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>  <span> 退出</span>
                    </a>
                </LinkTemplate>
            </Logout>
            <div style="height: 220px;"></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    [Inject]
    private LoginApiService LoginApiService { get; set; }
    protected async Task Logout()
    {
        await LoginApiService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }
}
