@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Logout ImageUrl="images/Avater.png" DisplayName="Administrators" UserName="Admin">
                <LinkTemplate>
                    <LogoutLink Url="/logouts" onclick="" />
                </LinkTemplate>
            </Logout>
            <div style="height: 220px;"></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
