@inherits FooterBase
<footer class="footer">
    <div class="footer-content">
        <span>@CurrentTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
        <span>© 2025 Xin. All rights reserved.</span>
    </div>
</footer>

