@layout EmptyLayout
<div class="notfound-wrapper" style="text-align:center; padding: 4rem 1rem;">
    <h1 style="font-size: 5rem; color: #555;">@Code</h1>
    <h3 style="color: #888;">  @NotFoundMessage</h3>
    <div style="height: 2rem;"></div>
    <a href="/" style="display: inline-block; margin-top: 2rem; padding: 0.5rem 1.5rem; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
        返回首页
    </a>
</div>

@code{
    [Parameter]
    public int Code { get; set; } = 404;
    [Parameter] 
    public string NotFoundMessage { get; set; }
}