@inherits PopularArticlesBase
<div class="popular-articles">
    <div class="section-header">
        <h3>热门文章</h3>
        <div class="view-all">查看全部</div>
    </div>
    @for (int i = 1; i <= ArticleInfos.Count; i++)
    {
        var index = i - 1;
        <div class="article-item" @onclick="()=>HandleArticleClick(ArticleInfos[index])">
            <div class="article-rank">@i</div>
            <div class="article-info">
                <div class="article-title">@ArticleInfos[i-1].Title</div>
                <div class="article-meta">
                    <span class="views">@ArticleInfos[i-1].views 阅读</span>
                    <span class="comments">@ArticleInfos[i-1].likes 点赞</span>
                </div>
            </div>
        </div>
    }
</div>